<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки JDBC -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">Rustam02071989!</property>

        <!-- Диалект SQL для вашей БД -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Автоматическое обновление схемы БД -->
        <property name="hbm2ddl.auto">update</property>

        <!-- Показывать сгенерированный SQL в консоли -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Регистрация ваших Java-классов-сущностей -->
        <!-- <mapping class="com.yourpackage.entity.User"/> -->
        <!-- <mapping resource="com/yourpackage/entity/User.hbm.xml"/> для старого стиля -->
    </session-factory>
</hibernate-configuration>